<h1>{{question}}</h1>

{{#if isEditing}}
	<form>
		<div class="form-group">
			<label for="question">Ask a question:</label>
			{{input id="question" class="form-control" value=question}}
		</div>

		<div class="form-group">
			<label for="description">Add a description:</label>
			{{textarea id="description" class="form-control" rows="15" value=description}}
		</div>

		<button class="btn btn-primary" {{action 'save'}}>Save</button>
	</form>
{{else}}
	<p>{{description}}</p>

	<button class="btn btn-primary" {{action 'edit'}}>Edit</button>
	<button class="btn btn-danger" {{action 'delete'}}>Delete</button>
{{/if}}

<h2>Answers</h2>

{{#each answers}}
	<p>{{answer}}</p>
{{/each}}

<p>{{#link-to 'answer' this.id class="btn btn-default"}}New answer{{/link-to}}</p>

{{outlet}}