<div class="well page-wrapper question-page">
	<h1>&nbsp;{{question}}</h1>
	<hr>
	<h5>&nbsp;&nbsp;&nbsp;<i>asked by: {{author}}</i></h5>

	{{#if isEditing}}
		<form>
			<div class="form-group">
				<label for="question">Edit question:</label>
				{{input id="question" class="form-control" value=question}}
			</div>

			<div class="form-group">
				<label for="description">Edit description:</label>
				{{textarea id="description" class="form-control" rows="15" value=description}}
			</div>

			<button class="btn btn-primary" {{action 'save'}}>Save</button>
		</form>
	{{else}}
		<p>&nbsp;{{description}}</p>

		<br>

		<button class="btn" {{action 'edit'}}>Edit</button>
		<button class="btn" {{action 'delete'}}>Delete</button>
	{{/if}}
</div>

<div class="answers-wrapper">
	<h2>Answers</h2>

	{{#each answers}}
		<p>{{answer}}</p>
	{{/each}}

	<p>{{#link-to 'answer' this.id class="btn"}}New answer{{/link-to}}</p>

	{{outlet}}
</div>